.task-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;

  &__task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 1em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    cursor: pointer;

    &:hover {
      background: #eee
    }

    span {
      padding-left: 10px;
      margin-right: auto;
    }

    input[type="checkbox"] {
      width: 2em;
      height: 2em;
    }
  }

  &__task_done {
    text-decoration: line-through;
    color: rgba(0,0,0,0.2);
  }

  &__delete-sign {
    color: #000 !important;
    opacity: 0.3;
    margin-right: 0 !important;
    &:hover {
      opacity: 1;
    }
  }

}

.priority {
  display: flex;
  * {
    width: 28px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__sign{
    &_high {
      background: #146914;
    }
    &_normal {
      background: #dada47;
    }
    &_low {
      background: #cc3030;
    }
    &_inactive {
      opacity: 0.3;
      display: none;
      &:hover{
        opacity: 0.6;
      }
    }
  }
  &:hover {
    * {
      display: block;
    }
  }
}