.form-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto {
    top: 10vh;
    bottom: 10vh;
  }
  padding: 1rem;
  background: #FFF;
  border-radius: 1px 10px 10px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  form {
    display: flex;
    align-items: stretch;
    flex: {
      grow: 1;
    }
    justify-content: space-between;
  }

  &__text-input {
    padding: 0.5rem {
      right: 0;
    }
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
  }

  &__button {
    height: 44px;
    background: #162952;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 24px;
    width: 50px
  }

  &__route-nav {
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    border-radius: 5px;
    flex-wrap: nowrap;

    a {
      color: #fff;
      text-decoration: none;

      &:first-child {
        li {
          border-radius: 5px 0 0 5px;
        }
      }

      &:last-child {
        li {
          border-radius: 0 5px 5px 0;
        }
      }

      li {
        height: inherit;
        text-align: center;
        padding: 10px;
        margin-right: 1px;
        display: inline-block;
        background: #162952;
      }
    }

    &_active {
      background: #bbb !important;
      color: #000;
    }
  }

  &__control {
    width: 100%;
    display: flex;
    flex: {
      wrap: wrap;
      shrink: 1;
    } 
    justify-content: space-between;
    
  }

  &__control-button{
    align-self: flex-end;
    margin: {
      top: 1em;
      bottom: 1em;
      left: auto;
    }
    font-size: 14px;
    padding: 10px;
    border: none;
    background: #162952;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 2px;

  }
}