.form-container {
  width: 70%;
  margin: auto {
    top: 10vh;
  }
  padding: 1rem;
  background: #FFF;
  border-radius: 1px 10px 10px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  > div {
    display: inline-block;
  }

  &__text-input {
    width: 78%;
    padding: 0.5rem {
      right: 0;
    }
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
  }

  &__button {
    position: relative;
    float: right;
    margin-left: -100%;
    height: 44px;
    width: 20%;
    background: #162952;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 24px;
  }

  &__route-nav {
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    border-radius: 5px;

    a {
      color: #fff;
      text-decoration: none;

      &:first-child {
        li {
          border-radius: 5px 0 0 5px;
        }
      }

      &:last-child {
        li {
          border-radius: 0 5px 5px 0;
        }
      }

      li {
        width: 5em;
        text-align: center;
        padding: 10px;
        margin-right: 1px;
        display: inline-block;
        background: #162952;
      }
    }

    &_active {
      background: #bbb !important;
      color: #000;
    }
  }

  &__control {
    width: 100%;
    > div {
      display: inline-block
    };
  }

  &__control-button{
    position: relative;
    float: right;
    margin: {
      top: 14px;
      left: 2px;
    }
    font-size: 14px;
    padding: 10px;
    border: none;
    background: #162952;
    color: #FFFFFF;
    border-radius: 5px;
  }
}