.task-list {
  list-style-type: none;
  padding-left: 0;
}

.task-list__task {
  margin-bottom: 10px;
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  cursor: pointer;
  &:hover {
    background: #eee
  }
  span {
    padding-left: 10px;
  }

  input[type="checkbox"] {
    width: 2em;
    height: 2em;
  }

}

.task-list__task_done {
  text-decoration: line-through;
  color: rgba(0,0,0,0.2);
}

.task-list__delete-sign {
  position: relative;
  float: right;
}

.task-list__delete-sign:hover {
  text-shadow: 0 0 5px #000000;
}